* {
    box-sizing: border-box
}
body{
    background-image: url(../assets/images/subtleBackdrop.jpg);
}
.bodyContainer{
    background-image: url(../assets/images/subtleGridPattern.jpg);
    margin-top: 20px;
    max-width: 960px;
    width: 100%;
    padding: 10px;
    margin: 20px auto;
}
.navbar-light{
    padding-left: 25%;
    background-color: #000040;
    min-width: 275px;
}
.navbar-light .navbar-brand{
    color: white;
}
.navbar-expand-lg .navbar-toggler{
    align-content: right;
}

h1{
    color: #000040;
    display: block;
    border-bottom: solid grey 2px;
    padding-bottom: 1%;
}
header{
    background: white;
}
h3{
    width: 300px;
    line-height: 50px;
    position:relative;
    bottom: 10vh;
    color: white;
    background: #000040;
    text-align: center;
}
.section{
    align-content: center;
}

.portfolioItem {
    width: 100%;
    min-height: 200px;  
}

.portfolioPic{
    height: 200px;
    width: 300px;
    align-content: center;
}
.profilePic{
    height: 200px;
    width: 200px;
}
li:hover{
    border-top: 5px solid #000040;
}
.nav-item:hover{
    border-top: 5px solid #000040;
}
footer{
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 7%;
    background: grey;
    color: white; 
    text-align: center; 
    padding: 10px;
    display: block; 
    border-top: solid #000040 5px;
}
.fa-linkedin{
    font-size: 42px;
    margin;: 0 10%;
}
.fa-github{
    font-size: 42px;
    margin: 0 10%;
}
.links{
    text-align: center;
}
